@media (max-width 1200px)
  .room-details-main-wrap
    padding 0 20px
  .form_absolute
    margin-right 20px
  
@media (max-width 1048px)
  .form
    right 8vw
  .room-details-main-info-wrap
    flex-direction column
    margin-bottom 50px
  .room-details-main
    margin-left 8vw
    flex-basis 70%

@media (max-width 904px)
  .form
    position static
    margin 0 auto 30px
  .room-details-main-info-wrap
    flex-direction row
    margin-bottom 10px
    justify-content space-around
  .room-details-main
    flex-basis 100%
    margin 0
  .room-details-main-impressions
    flex-basis 40%
  .room-details-comment
    margin 0 30px 30px
  .room-details-regulations
    margin 0 30px
  .room-details-img-wrap
    margin-bottom 50px
    flex-direction column
  .room-details-img-wrap img
    max-width 50%
    height auto
  .room-details-img-wrap > img
    max-width 100%
  .room-details-img-small
    flex-direction row

@media (max-width 680px)
  .room-details-main-info-wrap
    flex-direction column
    align-items center
  .room-details-main-info
    order 1
  .room-details-main-impressions
    margin-bottom 30px
  .room-details-regulations-spec
    margin-bottom 20px
  .room-details-regulations
    margin 0 20px
    flex-direction column
  .room-details-comment
    margin 0 20px 30px
  .room-details-main__title_left_20
    padding-left 0

@media (max-width 450px)
  .room-details-regulations
    margin 0
    flex-direction column
  .room-details-comment
    margin 0 auto 30px
  .room-details-main
    max-width 100%
  .room-details-main__title
    flex-direction column
  .room-details-main__amount-comments
    margin 10px auto 0
  .vote-value-wrap
    padding-left 10px
  .form
    padding 40px 23px 30px
  .dropdown__input_color, .form-reserve-calc-text
    font-size 12px
  .form-reserve-calc-text__left_bg_white, 
  .form-reserve-calc-text__right_bg_white
    font-size 14px

@media (max-width 350px)
  .form
    position relative
    left -20px
    max-width 100vw
  .room-details-main__title
    font-size 18px

@import '../../components/header/media.styl'
@import '../../components/footer/media.styl'