@import './checkbox/checkbox.styl'

.checkbox
  display flex
  flex-direction column
  width 230px

.checkbox_margin_bottom
  margin-bottom 40px

.checkbox_margin_bottom_35
  margin-bottom 35px

.text-field__title_margin_bottom
  margin-bottom 16px