@media (max-width 1200px)
  .container-color-type
    padding 145px 20px 50px
  .container-cards
    padding 150px 20px 140px
  .container-cards
    flex-wrap wrap
    justify-content space-around
  .cards3
    display flex
    justify-content space-around
    flex-basis 87%
    margin-top 30px
  .slider-room-wrap
    display flex
    justify-content space-between
    flex-basis 60%
  .dropdown-group1
    margin-right 20px

@media (max-width 1040px)
  .block-color-wrap
    flex-basis 40%
    margin-right 30px
  .container-color-type
    justify-content center
  .dropdown-group2
    flex-direction column
    flex-basis 40%
    max-width 100%
  .container-dropdown
    justify-content space-around
    margin 0 auto 170px
    max-width 80%
  .container-section-1
    flex-wrap wrap
    justify-content center
  .container-buttons
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    flex-basis 85%
    margin-bottom 40px
  .pagination-wrap
    margin-bottom 20px
  .buttons
    order 1
  .container-field
    margin-bottom 40px
    margin-right 30px
  .range-slider
    max-height 40px
    margin-right 30px
  .slider-room-wrap
    flex-direction column
    flex-basis 40%
  .container-cards
    padding 150px 20px 50px

@media (max-width 904px)
  .container-color-type
    justify-content space-around
  .block-text-wrap
    flex-basis 55%
  .container-checkbox-list
    max-width 85%
    flex-wrap wrap
    justify-content space-around
    margin 0 auto 40px
  .expandable-checkbox
    order 1
  .rich-checkbox
    margin-bottom 30px
  .cards1
    margin-right 10px
  .cards1, .cards2
    margin-bottom 40px
  .cards3
    margin-top 0
  .window.date-dropdown-window-cards-ui
    margin-right 20px
  .container-comments
    flex-wrap wrap
    justify-content center
  .header-menu__name-person
    margin-right 30px
  .header-menu__list
    display flex
    flex-direction column
    position fixed
    padding 18vh 0 15vh
    padding-left 5vw
    top 0
    left -100%
    background-color rgba(0, 0, 0, 0.95)
    z-index 1
    height 100vh
    width 50vw
    overflow auto
    transition all 0.6s
    z-index 6
  .header-menu__list_active
    left 0
    transition all 0.6s
  .header-menu__link
    color #ffffff
    padding 20px 20px
    width 100%
  .header-menu__arrow 
    border-right 2px solid rgba(255, 255, 255, 0.7)
    border-bottom 2px solid rgba(255, 255, 255, 0.7)
    margin 5px 0 0 12px
    transform rotate(45deg) translateX(-4px)
  .header-menu__item
    align-items baseline
    margin-bottom 20px
  .menu-hamburger
    display block
  .button-m_margin-right
    margin-right 30px
  .header__img
    width 115px
  .button-m-text
    font-size 10px

@media (max-width 640px)
  .container-color-type
    flex-direction column
    padding 145px 20px 0 65px
  .block-color-wrap
    order 1
  .block-tag__tag_size_m,
  .block-tag__tag_size_s
    margin-bottom 52px
  .container-section-1
    flex-direction column
  .container-checkbox
    margin-bottom 50px
  .container-buttons
    flex-direction column
    align-items flex-start
  .range-slider
    margin-right 0
  .pagination-wrap
    margin-bottom 40px
  .container-dropdown
    flex-direction column
    margin 0 0 170px
  .dropdown-group1
    margin-bottom 150px
  .dropdown-group2
    min-height 340px
  .comments
    margin-bottom 30px
  .cards3
    flex-direction column
    align-items center
  .window.date-dropdown-window-cards-ui
    margin-right 0
  .container-checkbox-list
    justify-content flex-start
    margin 0 0 40px
  .container-comments
    justify-content flex-start
  .room-details
    margin-bottom 20px
  .bullet-list-container
    margin-bottom 20px
  .block-color-wrap, .container-field
    margin-right 0

@media (max-width 450px)
  .container-color-type
    padding 145px 20px 0
  .block-tag__tag_size_m
    margin-bottom 75px
  .block-tag__tag_size_s
    margin-bottom 52px
  .header-menu__name-person
    margin-right 0
  .text-field, .container-field,
  .container-buttons, .buttons, 
  .container-dropdown
    max-width 100%
  .text-field
    width 320px
  .cards1, .cards2, .cards3
    max-width 316px
  .form-reserve-calc-text
    font-size 12px
  .form-reserve-calc-text__left_bg_white, 
  .form-reserve-calc-text__right_bg_white
    font-size 14px
  .form-reserve-calc-text__i
    right -20px
    width 18px
    height 18px
  .cards2 .dropdown__input_width_small,
  .cards1 .dropdown__input_width_small
    font-size 12px
  .cards2 .window .datepicker--cell, 
  .cards1 .window .datepicker--cell
    height auto
    padding 2vw
  .cards2 .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
  .cards2 .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
  .cards2 .window .datepicker--cell.-range-to-.-focus-::before, 
  .cards2 .window .datepicker--cell.-range-from-.-focus-::after,
  .cards1 .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
  .cards1 .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
  .cards1 .window .datepicker--cell.-range-to-.-focus-::before, 
  .cards1 .window .datepicker--cell.-range-from-.-focus-::after
    width 7.4vw
    height 7.4vw

@media (max-width: 380px)
  .window .datepicker--cell
    height 40px

@media (max-width: 350px)
  .block-tag__tag_size_l
    margin-bottom 110px
  .container-section-1 .window .datepicker--cell
    height auto
  .cards2 .window .datepicker--cell,
  .cards1 .window .datepicker--cell
    height auto
    padding 2.5vw
  .cards2 .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
  .cards2 .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
  .cards2 .window .datepicker--cell.-range-to-.-focus-::before, 
  .cards2 .window .datepicker--cell.-range-from-.-focus-::after,
  .cards1 .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
  .cards1 .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
  .cards1 .window .datepicker--cell.-range-to-.-focus-::before, 
  .cards1 .window .datepicker--cell.-range-from-.-focus-::after
    height 9.2vw
    width 9.2vw

@import '../../components/header/media.styl'
@import '../../components/footer/media.styl'