.title
  font-size 24px
  color tomato
  margin 0 auto
  font-family "Quicksand-Bold"

p
  font-family Montserrat
  font-size 20px
  background-color #724234
  color #ffffff

.montserrat-bold
  font-family "Montserrat-Bold"