.container-ui
  padding-bottom 50px

.container-color-type
  display flex
  margin 145px 180px 145px 150px

.container-color-type_flex-wrap
  flex-wrap wrap
  margin 140px 140px 130px

.block-color-wrap
  flex-basis 85%

.block-text-wrap
  display flex

.container-section-1
  display flex
  width 100%

.container-field, .container-checkbox, 
.container-buttons
  margin-bottom 97px

.container-field
  flex-basis 38.7%

.container-checkbox
  flex-basis 34%

.container-buttons 
  flex-basis 28%

.container-dropdown
  display flex
  justify-content space-between
  flex-basis 100%
  min-height 320px

.container-checkbox-list
  display flex
  justify-content space-between
  width 95%
  margin-bottom 40px

.expandable-checkbox
  flex-basis 29%

.container-comments
  display flex
  justify-content space-between
  width 100%