extends ../../components/main/main
include ../../components/small-components/ui-color/ui-color.pug

block variables
  - const pageTitle = 'UI Kit'

block content
  include ../../components/small-components/ui-wrap/ui-wrap.pug
    .container
      +color({squareClass: "block-color__square_black", title: "Dark Shade 100%", hex: "#1F2041"})