extends ../../components/main/main
include ../../components/small-components/ui-page-1/ui-color/ui-color.pug
include ../../components/small-components/ui-page-1/ui-block-text/ui-block-text.pug
include ../../components/form-hotel-search/form-hotel-search.pug
include ../../components/small-components/text-field/text-field.pug
include ../../components/small-components/dropdown/dropdown.pug

block variables
  - const pageTitle = 'UI Kit'
  - const bg = " body_bg-color_white"

block content
  include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
    .container.container-ui
      .block-color-wrap
        +color({squareClass: " block-color__square_dark100", title: "Dark Shade 100%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark75", title: "Dark Shade 75%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark50", title: "Dark Shade 50%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark25", title: "Dark Shade 25%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark5", title: "Dark Shade 5%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_purple", title: "Purple", hex: "#BC9CFF"})
        +color({squareClass: " block-color__square_green", title: "Green", hex: "#6FCF97"})
      .block-text-wrap
        +text()
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        .container-text-field
          +textField({color: " text-field__input_color text-field__input_margin_bottom", 
          title: "Text Field", state: "Default"})
          +textField({color: " text-field__input_active text-field__input_margin_bottom", 
          title: "TEXT-FIELD", state: "Hover / Focus", placeholder: "This is pretty awesome"})
          +dropdown({id: "guest", color: " dropdown__input_color", title: "Dropdown", state: "Default", 
          value: "Сколько гостей", arrName: ["0 Взрослые", "0 Дети", "0 Младенцы"]})
          +dropdown({id: "accommodations", color: "dropdown__input_color", width: "dropdown dropdown_width_min",
          widthInput: "dropdown__input_width_min",title: "Dropdown", state: "Default", 
          value: "2 спальни, 2 кровати...", arrName: ["2 Спальни", "2 Кровати", "0 Ванные комнаты"]})
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        +formHotelSeacrh()