extends ../../components/main/main
include ../../components/small-components/ui-page-1/ui-color/ui-color.pug
include ../../components/small-components/ui-page-1/ui-block-text/ui-block-text.pug
include ../../components/small-components/text-field/text-field.pug
include ../../components/small-components/dropdown/dropdown.pug
include ../../components/small-components/masked-text-field/masked.pug
include ../../components/small-components/date-dropdown/date-dropdown.pug
include ../../components/small-components/filter-date-dropdown/filter-date.pug
include ../../components/small-components/subscription-text-field/sub-field.pug
include ../../components/small-components/checkbox-buttons/checkbox-buttons.pug
include ../../components/small-components/radio-buttons/radio.pug
include ../../components/small-components/toggle/toggle.pug
include ../../components/small-components/like-button/like-button.pug
include ../../components/small-components/rate-button/rate-button.pug
include ../../components/small-components/range-slider/range-slider.pug
include ../../components/small-components/buttons/buttons.pug
include ../../components/small-components/pagination/pagination.pug
include ../../components/small-components/expandable-checkbox-list/checkbox-list.pug
include ../../components/small-components/rich-checkbox-buttons/rich-checkbox.pug
include ../../components/small-components/bullet-list/bullet-list.pug
include ../../components/small-components/room-details/room-details.pug
include ../../components/small-components/comments/comments.pug
include ../../components/form-hotel-search/form-hotel-search.pug

block variables
  - const pageTitle = 'UI Kit'
  - const bg = " body_bg-color_white"

block content
  include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
    .container.container-ui
      .block-color-wrap
        +color({squareClass: " block-color__square_dark100", title: "Dark Shade 100%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark75", title: "Dark Shade 75%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark50", title: "Dark Shade 50%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark25", title: "Dark Shade 25%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark5", title: "Dark Shade 5%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_purple", title: "Purple", hex: "#BC9CFF"})
        +color({squareClass: " block-color__square_green", title: "Green", hex: "#6FCF97"})
      .block-text-wrap
        +text()
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        .container-field
          +textField({margin: " text-field_margin_bottom_20", color: " text-field__input_color", 
            title: "Text Field", state: "Default"})
          +textField({margin: " text-field_margin_bottom_20", color: " text-field__input_active", 
            title: "TEXT-FIELD", state: "Hover / Focus", placeholder: "This is pretty awesome"})
          +dropdown({margin: " text-field_margin_bottom_20", id: "guest", color: " dropdown__input_color", 
            title: "Dropdown", state: "Default", windowWidth: " dropdown-window_width_max", 
            value: "Сколько гостей", arrName: ["0 Взрослые", "0 Дети", "0 Младенцы"]})
          +maskedTextField({color: " text-field__input_color", title: "Masked Text Field", 
            state: "Default", margin: " text-field text-field_margin_bottom_40"})
          +dateDropdown({margin: " text-field text-field_margin_bottom_40", value2: "19.08.2019", 
            id1: "dateDropFrom", id2: "dateDropTo", title: "date Dropdown"})
          +filterDate({title: "filter date dropdown", id: "filterDate", margin: " text-field_margin_bottom_40"})
          +subField({title: "subscription text field", color: " text-field__input_color"})
        .container-checkbox
          +checkboxButtons({margin: " checkbox_margin_bottom", marginTitle: " text-field__title_margin_bottom",
            txt: "Checkbox Buttons", arr: [{value: "checkbox-smoke", text: "Можно курить", checked: false},
            {value: "checkbox-pets", text: "Можно с питомцами", checked: true},
            {value: "checkbox-guests", text: "Можно пригласить гостей (до 10 человек)", checked: true}]})
          +radioButtons({margin: " radio_margin_bottom", marginTitle: " text-field__title_margin_bottom", 
            labelMargin: " radio__label_margin_right"})
          +toggle({marginTitle: " text-field__title_margin_bottom", label: " toggle__label_margin_bottom",
            marginToggle: " toggle_margin_bottom"})
          +likeButton({margin: " checkbox_margin_bottom", marginTitle: " text-field__title_margin_bottom"})
          +rateButton({marginTitle: " text-field__title_margin_bottom"})
        .container-buttons
          +rangeSlider({margin: " checkbox_margin_bottom"})
          +buttons({})
          +pagination({marginTitle: " buttons_margin_bottom_title"})
        .container-dropdown
          .dropdown-group1
            +dropdown({margin: " text-field_margin_bottom_20", id: "accommodations", color: " dropdown__input_color", 
            width: " dropdown__input_width_middle", windowWidth: " dropdown-window_width_middle", widthInput: " dropdown__input_width_middle", 
            title: "Dropdown", state: "Default", value: "2 спальни, 2 кровати...", arrName: ["2 Спальни", "2 Кровати", "0 Ванные комнаты"]})
            +dropdown({id: "accommodations", color: " dropdown__input_color", width: " dropdown__input_width_middle",
            windowWidth: " dropdown-window_width_middle", widthInput: " dropdown__input_width_middle",title: "Dropdown", 
            windowDisplay: " dropdown-window_display_block", state: "Default", 
            value: "2 спальни, 2 кровати...", arrName: ["2 Спальни", "2 Кровати", "0 Ванные комнаты"]})
          .dropdown-group2
            +dropdown({margin: " text-field_margin_bottom_20", id: "guest", color: " dropdown__input_color", 
            title: "Dropdown", state: "Default", windowWidth: " dropdown-window_width_max", 
            windowDisplay: " dropdown-window_display_block", state: "Default",
            value: "Сколько гостей", arrName: ["0 Взрослые", "0 Дети", "0 Младенцы"]})
            +dropdown({margin: " text-field_margin_bottom_20", id: "guest", color: " dropdown__input_color", 
            title: "Dropdown", state: "Default", windowWidth: " dropdown-window_width_max", 
            windowDisplay: " dropdown-window_display_block", state: "Default",
            clearDisplay: " dropdown-window__clear_display_block",
            value: "3 гостя", arrName: ["2 Взрослые", "1 Дети", "0 Младенцы"]})
        .container-checkbox-list
          .expandable-checkbox
            +checkboxList({marginTitle: " text-field__title_margin_bottom", margin: " radio_margin_bottom", 
              modal: true, displayModal: " checkbox__modal_display_none", 
              cursorTitle: " checkbox_cursor", id: "checkboxDefault", 
              txt: "expandable checkbox list", imgArrow: " checkbox_img_arrow", 
              arr: [{value: "checkbox-br", text: "Завтрак", checked: false}]})
            +checkboxList({marginTitle: " text-field__title_margin_bottom", 
              modal: true, cursorTitle: " checkbox_cursor", 
              txt: "expandable checkbox list", imgArrow: " checkbox_img_arrow_transform", 
              arr: [{value: "checkbox-breakfast", text: "Завтрак", checked: false},
              {value: "checkbox-desk", text: "Письменный стол", checked: true},
              {value: "checkbox-feeding-chair", text: "Стул для кормления", checked: true}, 
              {value: "checkbox-crib", text: "Кроватка", checked: true},
              {value: "checkbox-tv", text: "Телевизор", checked: false},
              {value: "checkbox-shampoo", text: "Шампунь", checked: false}]})
          .rich-checkbox
            +richCheckbox({txt: "rich Checkbox Buttons", marginTitle: " text-field__title_margin_bottom", 
              title: " checkbox__span_title_bold",  width: " checkbox_width_266", 
              arr: [{value: "checkbox-wide-corridor", text: "Широкий коридор", descWidth: " checkbox__description_width_203", 
              description: "Ширина коридоров в номере не менее 91 см.", checked: false}, 
              {value: "checkbox-disabled-assistant", text: "Помощник для инвалидов", descWidth: " checkbox__description_width_234", 
              description: "На 1 этаже вас встретит специалист  и проводит до номера.", checked: false}]})
          .bullet-list-container
            +bulletList({title: "bullet list",  marginTitle: " text-field__title_margin_bottom", widthLi: " bullet-list__ul_width_263", 
              arr: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
        .container-comments
          +roomDetails({marginImg: " room-details__img_margin", arr: [{title: "Комфорт", 
            descr: "Шумопоглощающие стены", hr: true, srcImg: "/img/insert_emoticon.svg", imgAlt: "Смайл"}, 
            {title: "Удобство", descr: "Окно в каждой из спален", hr: true, srcImg: "/img/location_city.svg", imgAlt: "Город"}]})
          +comments({arr: [{srcImg: "/img/autor1.png", imgAlt: "Мурад Сарафанов", name: "Мурад Сарафанов", period: "5 дней назад", 
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."}]})
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        +formHotelSeacrh()