.title
  font-size 24px
  margin 0 auto
  font-family "Quicksand", "Montserrat", sans-serif
  font-weight bold

p
  font-family "Montserrat", sans-serif
  font-size 20px

.montserrat-bold
  font-family "Montserrat", sans-serif
  font-weight bold