extends ../../components/main/main
include ../../components/small-components/ui-page-1/ui-color/ui-color.pug
include ../../components/small-components/ui-page-1/ui-block-text/ui-block-text.pug
include ../../components/small-components/text-field/text-field.pug
include ../../components/small-components/dropdown/dropdown.pug
include ../../components/small-components/masked-text-field/masked.pug
include ../../components/small-components/date-dropdown/date-dropdown.pug
include ../../components/small-components/filter-date-dropdown/filter-date.pug
include ../../components/small-components/subscription-text-field/sub-field.pug
include ../../components/small-components/checkbox-buttons/checkbox.pug
include ../../components/small-components/radio-buttons/radio.pug
include ../../components/small-components/toggle/toggle.pug
include ../../components/small-components/like-button/like-button.pug
include ../../components/small-components/rate-button/rate-button.pug
include ../../components/small-components/range-slider/range-slider.pug
include ../../components/small-components/buttons/buttons.pug
include ../../components/small-components/pagination/pagination.pug
include ../../components/form-hotel-search/form-hotel-search.pug

block variables
  - const pageTitle = 'UI Kit'
  - const bg = " body_bg-color_white"

block content
  include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
    .container.container-ui
      .block-color-wrap
        +color({squareClass: " block-color__square_dark100", title: "Dark Shade 100%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark75", title: "Dark Shade 75%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark50", title: "Dark Shade 50%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark25", title: "Dark Shade 25%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_dark5", title: "Dark Shade 5%", hex: "#1F2041"})
        +color({squareClass: " block-color__square_purple", title: "Purple", hex: "#BC9CFF"})
        +color({squareClass: " block-color__square_green", title: "Green", hex: "#6FCF97"})
      .block-text-wrap
        +text()
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        .container-field
          +textField({margin: " text-field_margin_bottom_20", color: " text-field__input_color", 
          title: "Text Field", state: "Default"})
          +textField({margin: " text-field_margin_bottom_20", color: " text-field__input_active", 
          title: "TEXT-FIELD", state: "Hover / Focus", placeholder: "This is pretty awesome"})
          +dropdown({margin: " text-field_margin_bottom_20", id: "guest", color: " dropdown__input_color", 
          title: "Dropdown", state: "Default", windowWidth: " dropdown-window_width_max", 
          value: "Сколько гостей", arrName: ["0 Взрослые", "0 Дети", "0 Младенцы"]})
          +maskedTextField({color: " text-field__input_color", title: "Masked Text Field", 
          state: "Default", margin: " text-field text-field_margin_bottom_40"})
          +dateDropdown({margin: " text-field text-field_margin_bottom_40", value2: "19.08.2019", 
          id1: "dateDropFrom", id2: "dateDropTo", title: "date Dropdown"})
          +filterDate({title: "filter date dropdown", id: "filterDate", margin: " text-field_margin_bottom_40"})
          +subField({title: "subscription text field", color: " text-field__input_color"})
        .container-checkbox
          +checkbox({margin: " checkbox_margin_bottom", marginTitle: " text-field__title_margin_bottom"})
          +radioButtons({margin: " radio_margin_bottom", marginTitle: " text-field__title_margin_bottom", 
          labelMargin: " radio__label_margin_right"})
          +toggle({marginTitle: " text-field__title_margin_bottom", label: " toggle__label_margin_bottom",
          marginToggle: " toggle_margin_bottom"})
          +likeButton({margin: " checkbox_margin_bottom", marginTitle: " text-field__title_margin_bottom"})
          +rateButton({marginTitle: " text-field__title_margin_bottom"})
        .container-buttons
          +rangeSlider({margin: " checkbox_margin_bottom"})
          +buttons({})
          +pagination({marginTitle: " buttons_margin_bottom_title"})
        .container-dropdown
          +dropdown({id: "accommodations", color: " dropdown__input_color", width: " dropdown__input_width_middle",
          windowWidth: " dropdown-window_width_middle", widthInput: " dropdown__input_width_middle",title: "Dropdown", 
          state: "Default", value: "2 спальни, 2 кровати...", arrName: ["2 Спальни", "2 Кровати", "0 Ванные комнаты"]})
    include ../../components/small-components/ui-page-1/ui-wrap/ui-wrap.pug
      .container.container-ui
        +formHotelSeacrh()