.sub-field
  width 267px

.sub-field__input
  width 267px
  height 44px
  padding-left 15px
  border-radius 4px
  border 1px solid rgba(31, 32, 65, 0.25)
  background url("/img/arrow_forward_gradient.svg") 95% 50% no-repeat
  &:active, &:focus
    outline none