@import './button-m/button-m.styl'
@import './button-l/button-l.styl'

.buttons_margin_bottom_title
  margin-bottom 15px

.buttons__group-m
  display flex
  flex-wrap wrap
  justify-content space-between
  width 218px
  margin-bottom 20px

.button-m_margin_bottom
  margin-bottom 30px

.button-m_margin_bottom_20
  margin-bottom 20px

.buttons__group-text
  display flex
  justify-content space-between
  width 142px