@import '../../components/header/media.styl'
@import '../../components/footer/media.styl'

@media (max-width: 904px)
  .container-sign-in
    padding 123px 0

@media (max-width: 680px)
  .container-sign-in
    padding 80px 0 123px

@media (max-width: 450px)
  .container-sign-in
    padding 60px 0 100px