@import '../../components/header/header.styl'
@import '../../components/footer/footer.styl'

.container-sign-in
  display flex
  justify-content center
  padding 163px 0
  background url(/img/bg-registration.jpg) center 80% no-repeat