.container-search
  max-width 1160px
  display flex
  justify-content space-between
  margin 0 auto
  padding 30px 0 70px

.filter
  flex-basis 20%

.room-img
  flex-basis 72%

.room-img__title
  font-family Quicksand, Montserrat, sans-serif
  font-size 24px
  font-weight bold
  color #1F2041
  margin 0
  margin-bottom 22px
  letter-spacing -0.5px

.room-img-wrap
  display flex
  justify-content space-between
  flex-wrap wrap
  margin-bottom 24px

.room-img_margin
  margin-bottom 20px

.pagination-wrap
  display flex
  justify-content center

.filter-line
  border 0
  height 1px
  background-color rgba(31, 32, 65, 0.25)

.filter-date_bottom_17
  margin-bottom 17px

.range-slider_bottom_28
  margin-bottom 28px
  
.rich-checkbox_bottom_21
  margin-bottom 21px