.text-field__input
  width 320px
  height 44px
  padding-left 15px
  border-radius 4px
  border 1px solid rgba(31, 32, 65, 0.25)
  &:active, &:focus
    outline none
  
.text-field__input_color
  margin-top 5px
  color rgba(31, 32, 65, 0.75)
  &:active, &:hover, &:focus
    border 1px solid rgba(31, 32, 65, 0.5)
    &::-webkit-input-placeholder
      color rgba(31, 32, 65, 0.75)
  &::-webkit-input-placeholder
    color rgba(31, 32, 65, 0.25)

.text-field__input_active
  margin-top 5px
  border 1px solid rgba(31, 32, 65, 0.5)
  color rgba(31, 32, 65, 0.75)

.text-field
  max-width 320px

.text-field_margin_bottom_20
  margin-bottom 20px

.text-field_margin_bottom_40
  margin-bottom 40px

.text-field__title
  font-weight bold
  font-size 12px
  color #1F2041
  text-transform uppercase

.text-field__state
  font-size 12px
  color rgba(31, 32, 65, 0.5)
  display inline-block
  float right
  text-transform uppercase