.comments
  max-width 711px

.comments__author
  display flex
  margin-bottom 10px

.comments__author-img
  margin-right 10px

.comments__author-name
  font-weight bold
  color rgba(31, 32, 65, 0.75)
  line-height 24px
  margin-bottom 5px

.comments__author-period
  color rgba(31, 32, 65, 0.75)

.comments__wrap-text
  display flex

.comments__text
  flex-basis 92%
  color rgba(31, 32, 65, 0.75)
  line-height 24px