.window.date-dropdown-window-cards-ui
  position relative
  top 0

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__current
  background linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)
  border-radius 22px
  font-weight bold
  color #fff

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__19,
.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__23
  background linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)
  border-radius 22px
  font-weight bold
  color #fff
  border none

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__19:after,
.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__23:after
  content ""
  width 40px
  height 40px
  position absolute
  top 0
  z-index -1
  background linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%)

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__19:after
  border-top-left-radius 22px
  border-bottom-left-radius 22px
  right 0

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__23:after
  border-top-right-radius 22px
  border-bottom-right-radius 22px
  right 0

.window.date-dropdown-window-cards-ui .date-dropdown-window-cards-ui__20-22
  background linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%)
  color rgba(31,32,65,0.5)
  border-radius 0