.block-color
  display flex
  align-items center
  margin-bottom 20px
  margin-left 10px

.block-color__square
  width 70px
  height 70px
  border-radius 6px

.block-color__square_dark100
  background-color #1F2041

.block-color__square_dark75
  background-color rgba(31, 32, 65, 0.75)

.block-color__square_dark50
  background-color rgba(31, 32, 65, 0.5)

.block-color__square_dark25
  background-color rgba(31, 32, 65, 0.25)

.block-color__square_dark5
  background-color rgba(31, 32, 65, 0.05)

.block-color__square_purple
  background-color #BC9CFF

.block-color__square_green
  background-color #6FCF97
  
.block-color-text
  margin-left 40px

.block-color-text__title, .block-color-text__hex
  font-family Quicksand, sans-serif
  font-weight bold
  font-size 19px
  line-height 29px
  margin 0

.block-color-text__title
  font-weight bold

.block-color-text__hex
  font-weight normal