.block-color
  display flex
  align-items center

.block-color__square
  width 70px
  height 70px
  border-radius 6px

.block-color__square_black
  background-color #1F2041
  
.block-color-text
  margin-left 40px

.block-color-text__title, .block-color-text__hex
  font-family Quicksand, sans-serif
  font-weight bold
  font-size 19px
  line-height 29px
  margin 0

.block-color-text__title
  font-weight bold

.block-color-text__hex
  font-weight normal