@import '../../components/header/header.styl'
@import '../../components/footer/footer.styl'

.container-reg
  display flex
  justify-content center
  padding 30px 0 25px
  background url(/img/bg-registration.jpg) bottom center no-repeat