.body
  margin 0
  font-family Montserrat, sans-serif
  font-size 14px
  font-weight normal

.body_bg-color_white
  background-color #fff

*, ::before, ::after
  box-sizing border-box

.container
  margin 0 auto
  display flex
  justify-content space-between
  max-width 1240px