@font-face
  font-family 'Montserrat'
  src local('☺'), url('./Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('./Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), url('./Montserrat-Regular/Montserrat-Regular.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Montserrat'
  src local('☺'), url('./Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('./Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), url('./Montserrat-Bold/Montserrat-Bold.svg') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Montserrat'
  src local('☺'), url('./Montserrat-Medium/Montserrat-Medium.woff') format('woff'), url('./Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'), url('./Montserrat-Medium/Montserrat-Medium.svg') format('svg')
  font-weight 500
  font-style normal

@font-face
	font-family 'Quicksand'
	src local('☺'), url('./Quicksand-Bold/Quicksand-Bold.woff') format('woff'), url('./Quicksand-Bold/Quicksand-Bold.ttf') format('truetype'), url('./Quicksand-Bold/Quicksand-Bold.svg') format('svg')
	font-weight bold
	font-style normal

@font-face
	font-family 'Quicksand'
	src local('☺'), url('./Quicksand-Regular/Quicksand-Regular.woff') format('woff'), url('./Quicksand-Regular/Quicksand-Regular.ttf') format('truetype'), url('./Quicksand-Regular/Quicksand-Regular.svg') format('svg')
	font-weight normal
	font-style normal