mixin pagination(options)
  div(class=`pagination-wrap${options.marginWrap || ""}`)
    if options.title
      p(class=`text-field__title${options.marginTitle || ""}`) pagination
    else
    nav(class=`pagination${options.margin || ""}`)
      div(class=`pagination-group`)
        span(class=`pagination__page-current` aria-current="page") 1
        a(class=`pagination__page-number`) 2
        a(class=`pagination__page-number`) 3
        span(class=`pagination__page-number pagination__dots`) ...
        a(class=`pagination__page-number`) 15
        span(class=`pagination__page-current pagination__page-next`)
      p(class=`pagination__description`) 1 – 12 из 100+ вариантов аренды