.pagination
  display flex
  width 250px
  flex-direction column

.pagination-group
  display flex
  font-size 12px
  margin-bottom 10px

.pagination__page-number, .pagination__page-current
  width 40px
  height 40px
  color rgba(31, 32, 65, 0.5)
  text-align center
  line-height 40px

.pagination__page-current
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius 22px
  font-weight bold
  color #ffffff
  user-select none
  -moz-user-select none

.pagination__page-number
  color rgba(31, 32, 65, 0.5)
  &:hover
    cursor pointer

.pagination__page-next
  background linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  position relative
  &:hover
    cursor pointer
    background linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%)
  &::before
    content ""
    width 40px
    height 40px
    position absolute
    top 0
    left 0
    background url(../buttons/button-l/img/arrow_forward.svg) center center no-repeat

.pagination__description
  padding-left 5px
  color rgba(31, 32, 65, 0.75)

.pagination__dots:hover
  cursor default
  user-select none
  -moz-user-select none

.pagination_margin_bottom_title
  margin-bottom 16px