
.rate-button__group
  display inline-block
  position relative
  height 24px
  width 120px
  background-image url(./img/star_border.svg)
  background-size 24px 24px

.rate-button__group_margin_right
  margin-right 15px

.rate-button__input
  position absolute
  width 1px
  height 1px
  overflow hidden
  clip rect(0 0 0 0)

.rate-button__label
  position absolute
  top 0
  left 0
  width 24px
  height 24px
  -webkit-appearance none
  -moz-appearance none
  &:focus
    outline none
  &:hover
    background-image url(./img/star.svg)
    cursor pointer
  &:active
    transform scale(1.04)

.rate-button__input:checked + .rate-button__label
  background-image url(./img/star.svg)

.rate-button__label:hover ~ .rate-button__label
  background-image url(./img/star_border.svg)
  opacity 0


.rate-button__label:nth-of-type(1)
  z-index 5
  width 24px

.rate-button__label:nth-of-type(2)
  z-index 4
  width 48px

.rate-button__label:nth-of-type(3)
  z-index 3
  width 72px

.rate-button__label:nth-of-type(4)
  z-index 2
  width 96px

.rate-button__label:nth-of-type(5)
  z-index 1
  width 120px