mixin bulletList(options)
  duv(class=`bullet-list${options.margin || ""}`)
    if options.title
      p(class=`text-field__title${options.marginTitle || ""}`)= options.title
    else
    ul(class=`bullet-list__ul${options.widthLi || ""}`)
      each val, index in options.arr
        li(class=`bullet-list__li`)= val