.room-details__group
  display flex
  flex-wrap wrap
  width 280px
  &:not(:last-child)
    margin-bottom 20px

.room-details__img
  padding 4px

.room-details__img_margin
  margin-right 10px
  margin-bottom 20px

.room-details__title
  font-weight bold
  color rgba(31, 32, 65, 0.75)
  line-height 24px

.room-details__descr
  color rgba(31, 32, 65, 0.75)
  line-height 24px

.room-details__hr
  flex-basis 100%
  margin 0
  border 0
  height 1px
  background-color rgba(31, 32, 65, 0.1)