.checkbox_img_arrow
  width 266px
  position relative
  &:before
    content ""
    position absolute
    top 0
    right 13px
    width 18px
    height 16px
    background url(../dropdown/img/icon-dropdown.svg) center center no-repeat
    z-index 1
  &:hover
    cursor pointer

.checkbox__modal_display_none
  display none

.checkbox_cursor:hover
  cursor pointer

.checkbox_img_arrow_transform
  width 266px
  position relative
  &:before
    content ""
    position absolute
    top 0
    right 13px
    width 18px
    height 16px
    background url(../dropdown/img/icon-dropdown.svg) center center no-repeat
    transform rotate(180deg)
    z-index 1
  &:hover
    cursor pointer

.checkbox-list__title
  display block
  font-weight bold
  font-size 12px
  color #1F2041
  text-transform uppercase