.title
  font-size 24px
  color #ffff33
  margin 0 auto
  font-family "Quicksand", "Montserrat", sans-serif
  font-weight bold

p
  font-family "Montserrat", sans-serif
  font-weight normal

.montserrat-bold
  font-family "Montserrat", sans-serif
  font-weight bold
  text-transform uppercase

.container
  background-color green
  color #fff
  display flex
  justify-content center