.container-main
  position relative
  background url(./img/bg-landing.jpg) bottom center no-repeat
  padding 70px 140px 385px

.container-main__bg-text
  position absolute
  bottom 20px
  right 135px
  text-align right
  max-width 297px
  line-height 24px
  color rgba(31, 32, 65, 0.75)