@import '../components/header/header.styl'
@import '../components/footer/footer.styl'

.container-main
  position relative

.container-main__bg-img
  max-width 100%
  height auto

.form_position_absolute
  position absolute
  top 140px
  left 140px

.container-main__bg-text
  position absolute
  bottom 25px
  right 135px
  text-align right
  max-width 297px
  line-height 24px
  color rgba(31, 32, 65, 0.75)