@import '../components/header/media.styl'
@import '../components/footer/media.styl'

@media (max-width: 904px)
  .container-main
    padding 70px 100px 385px

@media (max-width: 680px)
  .container-main
    padding 70px 20px 385px 50px
  .container-main__bg-text
    right 0
    left 50%
    transform translateX(-50%)
    text-align center
    width 100%

@media (max-width: 450px)
  .container-main
    padding 60px 0 85px
    display flex
    justify-content center