mixin header(options)
  header(class=`header${options.margin || ""}`)
    div(class="header-container")
      img(src="/img/logo.svg" class="header__img" alt="Logo" id="headerLogo")
      nav(class="header-menu")
        ul.header-menu__list
          each item in options.list
            li(class="header-menu__item")
              if item.arrow
                a(class=`header-menu__link${item.bold || ""}` href=`${item.link || "#"}`)= item.text
                span(class="header-menu__arrow")
              else
                a(class=`header-menu__link${item.bold || ""}` href=`${item.link || "#"}`)= item.text
        if options.btnText
          +buttonM({text: options.btnText[0], style: " button-m_border button-m_height_34 date-dropdown__from"})
          +buttonM({text: options.btnText[1], style: " button-m_height_34"})
        else
          hr.header-menu__line
          p(class="header-menu__name-person")= options.namePerson