.date-dropdown
  display flex
  justify-content space-between
  width 320px
  max-width 100%
  position relative

.date-dropdown__from, .date-dropdown__to
  display flex
  flex-direction column
  max-width 46.5%

.date-dropdown__from
  margin-right 20px

.date-dropdown__input
  height 44px
  padding-left 15px
  border-radius 4px
  border 1px solid rgba(31, 32, 65, 0.25)
  background-image url(../dropdown/img/icon-dropdown.svg)
  background-repeat no-repeat
  background-position 90% 50%
  color rgba(31, 32, 65, 0.75)
  &:active, &:hover, &:focus
    background-image url(../dropdown/img/icon-dropdown-active.svg)
    outline none

.dropdown__input_width_small
  width 150px
  max-width 100%

.datepicker_width
  width 320px

.date-dropdown_margin_bottom_18
  margin-bottom 18px