@media (max-width: 380px)
  .window .datepicker--cell
    height auto
    padding 3.2vw
  .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
  .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
  .window .datepicker--cell.-range-to-.-focus-::before, 
  .window .datepicker--cell.-range-from-.-focus-::after
    height 10.5vw
    width 10.5vw

@media (max-width: 340px)
    .dropdown__input_width_small
      font-size 12px
    .window .datepicker--cell
      height auto
      padding 2.55vw
    .window .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after, 
    .window .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before, 
    .window .datepicker--cell.-range-to-.-focus-::before, 
    .window .datepicker--cell.-range-from-.-focus-::after
      height 9.8vw
      width 9.8vw