mixin text(options)
  .block-tag
    p(class="block-tag__tag block-tag__tag_size_l") H1
    p(class="block-tag__tag block-tag__tag_size_m") H2
    p(class="block-tag__tag block-tag__tag_size_s") H3
    p(class="block-tag__tag") Body
  .block-text
    p(class="block-text__text block-text__text_size_l") This one is the sub-section or widget title
    p(class="block-text__text block-text__text_size_m") Next one is the item title inside widgets
    p(class="block-text__text block-text__text_size_s") This is a label or CTA text
    p(class="block-text__text block-text__text_color_gray")
      | This is the body text which is used for most of the design, like paragraphs, lists, etc.