mixin rangeSlider(options)
  div(class=`range-slider${options.margin || ""}`)
    p(class=`range-slider__label${options.marginTitle || ""}`)= options.title ? options.title : "Range Slider"
    p(class=`range-slider__number${options.marginTitle || ""}`) 5 000₽ - 10 000₽
    div(class="range" id="range")
    if options.descr
      p.range-slider__descr= options.descr
    else