.form-reserve-title
  display flex
  justify-content space-between
  align-items flex-end
  padding-bottom 20px

.form-title__number
  display inline-block
  font-family Quicksand, Montserrat, sans-serif
  font-weight bold
  font-size 24px
  color #1F2041
  &:before
    content "№"
    font-size 14px
    padding-right 4px

.form-title__lux:after
  content "люкс"
  font-family Montserrat, sans-serif
  font-weight bold
  font-size 12px
  text-transform uppercase
  color #BC9CFF
  padding-left 5px

.form-title__price
  font-weight bold
  color rgba(31, 32, 65, 0.5)
  &:after
    content "в сутки"
    font-weight normal
    font-size 12px
    padding-left 4px

.form-reserve-calc-text
  display flex
  justify-content space-between
  color rgba(31, 32, 65, 0.75)
  margin-bottom 17px
  position relative

.form-reserve-calc-text_bold
  font-family Quicksand, Montserrat, sans-serif
  font-weight bold
  font-size 19px
  color #1F2041
  margin-bottom 25px
  border-bottom 1px dotted #cccccc
  height 20px

.form-reserve-calc-text_margin_bottom_27
  margin-bottom 27px

.form-reserve-calc-text__left
  max-width 213.8px
  position relative

.form-reserve-calc-text__left_bg_white,
.form-reserve-calc-text__right_bg_white
  background-color #fff
  height 22px

.form-reserve-calc-text__left_bg_white
  padding-right 5px

.form-reserve-calc-text__right_bg_white
   padding-left 5px

.form-reserve-calc-text__i
  position absolute
  top -2px
  right -25px
  width 20px
  height 20px
  border 1px solid rgba(31, 32, 65, 0.25)
  color rgba(31, 32, 65, 0.25)
  display flex
  justify-content center
  align-items center
  border-radius 50%
  font-size 12px
  font-weight bold
  &:hover
    cursor pointer

.form_height_513
  max-height 513px

.form-title__number-lux:after
  content "люкс"
  font-family Montserrat, sans-serif
  font-weight bold
  font-size 12px
  text-transform uppercase
  color #bc9cff
  padding-left 5px