.footer
  background #ffffff
  box-shadow 0px 1px 0px rgba(31, 32, 65, 0.1)
  margin-bottom 1px

.footer-container, .footer-container-copyright
  margin 0 auto
  max-width 1160px
  display flex
  justify-content space-between

.footer-container
  padding 100px 0

.footer-container-copyright
  padding 23px 0
  align-items center

.footer-copyright
  background #ffffff
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)

.footer-img-container, .footer-subscribe-container
  flex-basis 22.5%

.footer-img-container
  margin-right 20px

.footer-subscribe-container
  margin-top 4px

.footer__img
  margin-bottom 14px

.footer__text
  line-height 24px
  color rgba(31, 32, 65, 0.75)

.footer-menu-container
  display flex
  justify-content space-between
  flex-basis 43%
  margin-right 65px
  margin-top 4px

.footer-menu__list
  list-style none
  padding 0
  margin 0

.footer-menu__item:not(:last-child)
  margin-bottom 20px

.footer-menu__link
  text-decoration none
  color rgba(31, 32, 65, 0.5)
  line-height 17px
  &:hover
    color #bc9cff

.footer-menu__title
  font-weight bold
  font-size 12px
  text-transform uppercase
  color #1F2041
  margin-bottom 20px

.footer__copyright-text
  color rgba(31, 32, 65, 0.75)

.footer-social
  list-style none
  padding 0
  margin 0
  display flex

.footer-social__li
  display flex
  align-items center
  &:not(:last-child)
    margin-right 20px

.footer-social__link-tw, .footer-social__link-fb, 
.footer-social__link-ins
  width 24px
  height 24px
  display inline-block

.footer-social__link-tw
  background url(/img/social-img/tw-icon.svg) center center no-repeat

.footer-social__link-fb
  background url(/img/social-img/fb-icon.svg) center center no-repeat

.footer-social__link-ins
  background url(/img/social-img/ins-icon.svg) center center no-repeat