@media (max-width: 1200px)
  .footer-container-copyright
    padding 23px 20px
  .footer-container
    padding-left 20px
    padding-right 20px

@media (max-width: 904px)
  .footer-container
    flex-direction column
  .footer-menu-container, .footer-subscribe-container
    margin-top 40px

@media (max-width: 450px)
  .footer-container-copyright
    flex-direction column
  .footer__copyright-text
    margin-bottom 15px
    margin-right 0
    text-align center
  .footer-menu-container
    flex-direction column
  .footer-menu
    margin-bottom 30px
  .footer-subscribe-container
    margin-top 20px
  .footer-img-container
    max-width 360px
  .footer-container
    padding 45px 20px 50px

@import '../small-components/date-dropdown/media.styl'