extends ../../components/main

block variables
  - const pageTitle = 'Третья страница на Pug - page3'
  - const youAreUsingPug = false

block content
  .container
    p.title Я третья страница, посмотри какие и у меня замечательные стили.