.button-m
  width 99px
  height 44px
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius 22px
  border none
  position relative
  padding 0
  &:active, &:focus
    outline none
  &:hover
    cursor pointer
    background linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)

.button-m-text
  font-size 12px
  text-transform uppercase
  font-weight bold
  color #ffffff
  font-family Montserrat, sans-serif

.button-m_border
  position absolute
  top 2px
  left 2px
  width 95px
  height 40px
  background #ffffff
  border-radius 22px
  color #BC9CFF
  line-height 40px

.button-m-active
  background linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)