.button-m-text
  font-size 12px
  text-transform uppercase
  font-weight 500
  letter-spacing 0.2px
  color #ffffff
  line-height 34px
  font-family Montserrat, sans-serif
  text-decoration none

.button-m
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius 22px
  border none
  height 44px
  padding 0 19.5px
  display flex
  justify-content center
  align-items center
  &:active, &:focus
    outline none
  &:hover
    cursor pointer
    background linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)

.button-m-active
  background linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)

.button-m_border
  background: linear-gradient(#fff,#fff) padding-box, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box
  color #BC9CFF
  padding 0 17.5px
  border 2px solid transparent
  border-radius 22px
  height 44px
  display flex
  justify-content center
  line-height 40px
  &:active, &:focus
    outline none
  &:hover
    cursor pointer
    background linear-gradient(#fff,#fff) padding-box, linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%) border-box

.button-m_border_active
  background linear-gradient(#fff,#fff) padding-box, linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%) border-box

.button-m_height_34
  height 34px
  align-items center

.button-m_width_99
  width 99px
  padding 0

.button-m_margin-right
  margin-right 20px

.buttons_text_gradient
  color #BC9CFF

.buttons_text_gray
  color rgba(31, 32, 65, 0.5)

.button-m_ui_kit
  letter-spacing 0
  font-weight bold