.dropdown__input
  width 320px
  height 44px
  padding-left 15px
  border-radius 4px
  border 1px solid rgba(31, 32, 65, 0.25)
  background-image url(/img/icon-dropdown.svg)
  background-repeat no-repeat
  background-position 95% 50%
  color rgba(31, 32, 65, 0.75)
  &:active, &:hover, &:focus
    background-image url(/img/icon-dropdown-active.svg)
    outline none

.dropdown__input_width_middle
  width 266px
  
.dropdown__input_color
  margin-top 5px
  &:active, &:hover, &:focus
    border 1px solid rgba(31, 32, 65, 0.5)
    cursor pointer !important

.dropdown__input_active
  background-image url(/img/icon-dropdown-active.svg)
  border 1px solid rgba(31, 32, 65, 0.5)
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)

.dropdown
  max-width 320px
  position relative

.dropdown_width_min
  max-width 266px

.dropdown__title
  font-weight bold
  font-size 12px
  color #1F2041
  text-transform uppercase

.dropdown__state
  font-size 12px
  color rgba(31, 32, 65, 0.5)
  display inline-block
  float right
  text-transform uppercase

.dropdown-window
  border 1px solid rgba(31, 32, 65, 0.5)
  box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
  padding 7px 7px 10px 15px
  border-bottom-left-radius 4px
  border-bottom-right-radius 4px
  text-align right
  position absolute
  top 65px
  background-color #fff
  z-index 2

.dropdown-window_width_max
  width 320px

.dropdown-window_width_middle
  width 266px
  padding 7px 7px 7px 15px

.dropdown-window_display_none
  display none

.dropdown-window__wrap-elem
  display flex
  justify-content space-between
  align-items center
  padding-bottom 7px
  &:nth-child(3n)
    padding-bottom 0

.dropdown-window__name,.dropdown-window__value
  font-weight bold
  font-size 12px
  text-transform uppercase

.dropdown-window__wrap-value
  display flex

.dropdown-window__value
  display flex
  justify-content center
  align-items center
  width 32px
  user-select none

.dropdown-window__decrement, .dropdown-window__increment
  display flex
  justify-content center
  align-items center
  font-weight normal
  font-size 18px
  width 30px
  height 30px
  color rgba(31, 32, 65, 0.25)
  border 1px solid rgba(31, 32, 65, 0.25)
  border-radius 50%
  user-select none

.dropdown-window__increment_active, .dropdown-window__decrement_active
  color rgba(31, 32, 65, 0.5)
  border 1px solid rgba(31, 32, 65, 0.5)

.dropdown-window__decrement:hover, .dropdown-window__increment:hover
  cursor pointer

.dropdown-window__apply, .dropdown-window__clear
  display inline-block
  font-weight bold
  font-size 12px
  text-transform uppercase
  padding-top 18px
  &:hover
    cursor pointer

.dropdown-window__apply
  color #BC9CFF
  &:hover
    color #ab83ff

.dropdown-window__clear
  float left
  color rgba(31, 32, 65, 0.5)
  display none
  &:hover
    color rgba(31, 32, 65, 0.60)

.dropdown-window__clear_display_block
  display block

.dropdown-window__clear_active
  display inline-block

.dropdown-window_display_block
  display block

.dropdown-group2
  display flex
  justify-content space-between
  width 712px
  margin-right 2px