.dropdown__input
  width 320px
  height 44px
  padding-left 15px
  border-radius 4px
  border 1px solid rgba(31, 32, 65, 0.25)
  &::-webkit-input-placeholder
    color rgba(31, 32, 65, 0.75)
  &:active, &:focus
    outline none
  
.dropdown__input_color
  margin-top 5px
  &:active, &:hover, &:focus
    border 1px solid rgba(31, 32, 65, 0.5)
    cursor pointer

.dropdown__icon
  position absolute
  top 45%
  right 15px

.dropdown
  max-width 320px
  position relative

.dropdown__title
  font-weight bold
  font-size 12px
  color #1F2041
  text-transform uppercase

.dropdown__state
  font-size 12px
  color rgba(31, 32, 65, 0.5)
  display inline-block
  float right
  text-transform uppercase