include ./like/like.pug

mixin likeButton(options)
  div(class=`like${options.margin || ""}`)
    p(class=`text-field__title${options.marginTitle || ""}`) like button
    +like({amount: "2", margin: " like-button_margin_right"})
    +like({amount: "12", active: " like-button_active", margin: " like-button_margin_right",
    activeText: " like-button__text_active"})